.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 30px 0;

    background-color: var(--primary-colour);
}

.title {
    width: min(650px, 80%);
    padding: 0 15px;

    color: white;
    font-family: "Atkinson";
    font-size: 3.25rem;
    text-decoration: underline;
    text-decoration-color: var(--blurple);
    text-decoration-thickness: 7px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(1100px, 85%);

    color: white;
    font-family: "Atkinson";
    font-size: 1.5rem;
}

.contactLink {
    color: white;
    text-decoration: underline;
}