.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: calc(100vh - 80px);

    color: white;
}

.coffee {
    margin-top: 150px;
    height: 150px;
}

.title {
    margin: 0 15px;
    line-height: 0.9;

    font-family: "Atkinson";
    font-size: 6rem;
}

.subtitle {
    color: whitesmoke;
    font-family: "Atkinson";
    font-size: 1.5rem;
    font-style: italic;
}

@media (max-width: 670px) {
    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}