.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

    width: 100%;
    height: 80px;

    color: white;
    font-family: "JetBrains Mono";
}

@media (max-width: 920px) {
    .navigationBar {
        flex-direction: column;
        gap: 10px;
        height: initial;
        padding-top: 5px;
    }
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    border-radius: 100vw;
}

.title {
    font-size: 1.5rem;
}

/* Entire Right side section of navbar */
.navigationLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    flex-wrap: wrap;
}

@media (max-width: 730px) {
    .navigationLinks {
        flex-direction: column;
    }
}

/* Container that holds socials icons */
.socialsContainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Container that holds links to page sections */
.pageSectionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.pageSectionLink {
    color: #e6e6e6;
    font-size: 1.15rem;

    transition: color 0.3s ease, transform 0.3s ease;
}

.pageSectionLink:hover {
    transform: scale(1.02);

    color: white;
}

/* Separator line between socials and page sections containers */
.separator {
    width: 3px;
    height: 30px;
    background-color: rgb(36, 36, 36);
}

@media (max-width: 730px) {
    .separator {
        display: none;
    }
}